#orderNowButton {
    height: 100%;
    display: flex;
    align-items: flex-end;
}
#orderNowButton button {
    border: none;
    background: none;
    cursor: pointer;
    animation: 1s sectionLabelAnimation ease-in forwards;
}
#orderNowButton button span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    color: #d5dbbd;
    padding-right: 15px;
    text-transform: uppercase;
}
#orderNowButton button svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    stroke: #f05006;
}
#orderNowButton button:hover svg {
    transform: translateX(0);
}
#orderNowButton button:active svg {
    transform: scale(0.9);
}
.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d5dbbd;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#orderNowButton button:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}