.siteLogo {
    font-size: 32px;
    font-family: 'Kare';
    letter-spacing: 1px;
    margin-top: -16px;
    cursor: pointer;
}

.siteLogo.customer {
    color: var(--primary00);
}

.siteLogo.admin {
    color: var(--secondary00);
    text-align: center;
}

.siteLogo.staff {
    color: var(--secondary01);
}

.primaryButton {
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--light00);
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 500;
    border: 1px solid var(--gray00);
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.primaryButton:hover {
    border: 1px solid transparent;
}

.primaryButton svg {
    font-size: 14px;
}

.secondaryButton {
    position: relative;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light00);
    border-radius: 5px;
    background-color: var(--dark00);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.secondaryButton:hover {
    cursor: pointer;
    background-color: var(--gray02);
}

.secondaryButton svg {
    height: 15px;
    width: 15px;
}

.secondaryButton.tooltip span {
    position: absolute;
    top: 0;
    text-wrap: nowrap;
    font-size: 14px;
    background-color: var(--dark00);
    color: var(--light00);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.secondaryButton.tooltip span::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: var(--dark00);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.secondaryButton.tooltip:hover span {
    top: -35px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.secondaryButton.tooltip.red {
    background-color: #FF3838;
}

.secondaryButton.tooltip.green {
    background-color: #34c759;
}

.secondaryButton.tooltip.yellow {
    background-color: #FFAF3D;
}

.paginationButton {
    padding: 6px 12px;
    color: var(--light00);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    background-color: var(--gray00);
    border-radius: 5px;
    transition: all .2s ease;
}

.paginationButton:hover {
    cursor: pointer;
    background-color: var(--gray02);
}

.paginationButton.active {
    pointer-events: none;
    background-color: var(--primary00);
}