.dashboardContainer {
    width: 100%;
    height: 100dvh;
    overflow-y: hidden;
}

.dashboardContainer .sectionHeader {
    margin: 10px 0;
    color: #334d66;
    font-size: 3rem;
    font-family: 'Abril Fatface';
    letter-spacing: 1px;
    text-align: center;
}
