.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
}
.embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
}
.embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--gray00);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.embla__button:hover {
    color: var(--light00);
}

.embla__button:disabled {
    color: var(--gray02);
    pointer-events: none;
}

.embla__button__svg {
    width: 35%;
    height: 35%;
}

@media only screen and (max-width: 80rem) {
    .embla__button {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .embla__button {
        display: none;
    }
}