.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 20px 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light00);
    z-index: 100;
    border-bottom: 1px solid var(--gray00);
}

.header-wrapper {
    width: 100%;
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-left, .header-right {
    display: flex;
    gap: 20px;
}

.header a {
    margin-bottom: -1px;
    position: relative;
    color: var(--dark00);
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 500;
    text-transform: uppercase;
    padding: 4px 6px;
    cursor: pointer;
    transition: font-weight .2s ease-out;
}

.header a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--primary01);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.header a:hover {
    font-weight: 800;
}

.header a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}