.modalOverlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow: hidden;
}

.modal {
    min-width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ffffff;
    font-family: 'Inter',-apple-system,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    animation: fadeInForm 0.1s forwards;
}

.modal.form {
    width: 480px;
}

.modal > div {
    display: flex;
}

.modal .modal-header {
    margin-bottom: 10px;
    flex-direction: column;
    gap: 5px;
}

.modal .modal-header span {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal  .modal-header span h1 {
    font-size: 28px;
    font-weight: 800;
}

.modal .modal-header span svg { 
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    color: black;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #ecedec;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.modal .modal-header span svg:hover {
    background-color: transparent;
    border: 1px solid black;
}

.modal .modal-header h2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray02);
    margin-bottom: 15px;
}

.modal .modal-header-section {
    display: flex;
}

.modal .modal-header-section-left, .modal .modal-header-section-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
}

.modal .modal-body {
    flex-direction: column;
    gap: 10px;
}

.modal .modal-body-section {
    padding: 1px;
    width: 100%;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.modal.form .modal-body-section {
    gap: 5px;
}

.modal .modal-body-section.vertical {
    flex-direction: column;
}

.modal .modal-footer {
    margin-top: 10px;
    flex-direction: column;
    gap: 5px;
}

.modal label {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.modal input, .modal textarea, .modal select {
    padding: 15px;
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.1s ease-in;
}

.modal.auth input {
    min-width: unset;
}

.modal textarea {
    overflow-y: auto;
}

.modal input:focus, .modal textarea:focus, .modal select:focus {
    outline: 1.5px solid #2d79f3;
}

.modal .modalButton {
    flex: 1;
    padding: 10px 15px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modal .modalButton.primary {
    background-color: var(--dark02);
}

.modal .modalButton.primary:hover {
    background-color: #252727;
}

.modal .modalButton.secondary {
    background-color: #FF3838;
}

.modal .modalButton.secondary:hover {
    background-color: var(--primary00);
}

.modal .modalButton.submit {
    padding: 15px;
}

/*
.modalForm .modalForm-body table {
    width: 100%;
    border-collapse: collapse;
}

.modalForm .modalForm-body table thead th {
    padding: 5px;
    color: var(--bgc01);
    background-color: var(--c01);
}

.modalForm .modalForm-body table tbody td {
    padding: 10px;
}


.modalTable {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ffffff;
    font-family: 'Inter',-apple-system,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    animation: fadeInForm 0.1s forwards;
    overflow: hidden;
}

.modalTable .modalTable-header {

    padding: 30px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--c04);
    
}

.modalTable .modalTable-header-label {

}

.modalTable .modalTable-body table {
    border-collapse: collapse;
    width: 100%;
}

.modalTable .modalTable-body table thead {
    top: 0;
    position: sticky;
    background-color: var(--c01);
}

.modalTable .modalTable-body table thead th {
    font-size: 14px;
    color: var(--bgc01);
    padding: 5px;
}

.modalTable .modalTable-body table tbody td {
    padding: 5px 15px;
    font-size: 14px;
}

.modalTable .modalTable-footer {

    padding: 20px 30px 20px 30px;
    border-top: 1px solid var(--c04);

}
*/

@keyframes fadeInForm {
    from {
        margin-bottom: 50px;
        opacity: 0;
    }
    to {
        margin-bottom: 0;
        opacity: 1;
    }
}