.modalOverlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow: hidden;
}

.modalForm {
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ffffff;
    font-family: 'Inter',-apple-system,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    animation: fadeInForm 0.1s forwards;
}

.modalForm > div {
    display: flex;
}

.modalForm .modalForm-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modalForm .modalForm-header span, .modalTable .modalTable-header .modalTable-header-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modalForm .modalForm-header h1 {
    font-size: 28px;
    font-weight: 800;
}

.modalForm .modalForm-header h2 {
    font-size: 14px;
    font-weight: 400;
    color: #515151;
    margin-bottom: 15px;
}

.modalForm .modalForm-header svg, .modalTable .modalTable-header .modalTable-header-label svg { 
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    color: black;
    border-radius: 50%;
    background-color: #ecedec;
    cursor: pointer;
}

.modalForm .modalForm-header svg:hover, .modalTable .modalTable-header .modalTable-header-label svg:hover {
    background-color: transparent;
    border: 1px solid black;
}

.modalForm .modalForm-body {

}

.modalForm .modalForm-body table {
    width: 100%;
    border-collapse: collapse;
}

.modalForm .modalForm-body table thead th {
    padding: 5px;
    color: var(--bgc01);
    background-color: var(--c01);
}

.modalForm .modalForm-body table tbody td {
    padding: 10px;
}

.modalTable {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #ffffff;
    font-family: 'Inter',-apple-system,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    animation: fadeInForm 0.1s forwards;
    overflow: hidden;
}

.modalTable .modalTable-header {

    padding: 30px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--c04);
    
}

.modalTable .modalTable-header-label {

}

.modalTable .modalTable-body table {
    border-collapse: collapse;
    width: 100%;
}

.modalTable .modalTable-body table thead {
    top: 0;
    position: sticky;
    background-color: var(--c01);
}

.modalTable .modalTable-body table thead th {
    font-size: 14px;
    color: var(--bgc01);
    padding: 5px;
}

.modalTable .modalTable-body table tbody td {
    padding: 5px 15px;
    font-size: 14px;
}

.modalTable .modalTable-footer {

    padding: 20px 30px 20px 30px;
    border-top: 1px solid var(--c04);

}

@keyframes fadeInForm {
    from {
        margin-bottom: 50px;
        opacity: 0;
    }
    to {
        margin-bottom: 0;
        opacity: 1;
    }
}