.statusIndicator {
    display: flex;
    align-items: center;
    gap: 5px;
}

.statusIndicator .statusDot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.statusIndicator h1 {
    color: var(--light01) !important;
    padding: 4px 10px;
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 15px;
    text-align: center;
}

.statusIndicator.pending h1 {
    background-color: #7B8089;
}

.statusIndicator.cancellation-requested h1 {
    background-color: #FFAF3D;
}

.statusIndicator.cancelled h1 {
    background-color: #FF3838;
}

.statusIndicator.unpaid h1 {
    background-color: #285766;
}

.statusIndicator.paid h1 {
    background-color: #34c759;
}

