#landingNavigation .landingNavigation-center .landingNavigation-title {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#landingNavigation .landingNavigation-center .landingNavigation-title.navTitle-right {
    animation: titleR 0.5s forwards;
}
#landingNavigation .landingNavigation-center .landingNavigation-title.navTitle-centerRight {
    animation: titleRC 0.5s forwards;
}
#landingNavigation .landingNavigation-center .landingNavigation-title.navTitle-left {
    animation: titleL 0.5s forwards;
}
#landingNavigation .landingNavigation-center .landingNavigation-title.navTitle-centerLeft {
    animation: titleLC 0.5s forwards;
}
#landingNavigation .landingNavigation-center .landingNavigation-title p {
    display: inline-block;
    color: #f05006;
    font-family: 'Inter';
    font-size: 5.5vw;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    animation: fadeIn 1s ease-in forwards;
    user-select: none;
}
#landingNavigation .landingNavigation-center .landingNavigation-title.navTitle-right p {
    animation: titleL 0.5s forwards;
}
#landingNavigation .landingNavigation-center .landingNavigation-title.navTitle-centerRight p {
    animation: titleLC 0.5s forwards;
}
#landingNavigation .landingNavigation-center .landingNavigation-title.navTitle-left p {
    animation: titleR 0.5s forwards;
}
#landingNavigation .landingNavigation-center .landingNavigation-title.navTitle-centerLeft p {
    animation: titleRC 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes titleR {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(50%);
    }
}

@keyframes titleRC {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes titleL {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes titleLC {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 768px) {
    #landingNavigation .landingNavigation-center .landingNavigation-title p {
        font-size: 10vw;
    }
}

