#adminOrders {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#adminOrders .dataCard {
    flex: 1;
}

#adminOrders .dataCard table select {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #fff8ec;
    color: #334d66;
}

#adminOrders .view-details-button {
    padding: 10px 20px;
    background-color: #c0613d;
    color: #fff8ec;
    border: none;
    border-radius: 60px 20px;
    cursor: pointer;
}