#customerBanner {
    padding: 15px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c0963d;
    border-radius: 10px;

    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    
}

#customerBanner h1 {
    color: #FBF0DF;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 900;
}

#customerBanner .customerBanner-right {
    display: flex;
    gap: 15px;
}

#customerBanner .customerBanner-right button {
    color: #FBF0DF;
    font-family: 'Inter';
    font-size: 14px;
    text-transform: uppercase;
}

#customerBanner .customerBanner-right button:hover {
    cursor: pointer;
    text-decoration: underline;
}