#customerBanner {
    width: 100%;
    padding: 30px;
    display: flex;
    gap: 20px;
    background-color: var(--dark00);
}

#customerBanner .customerBanner-image, #customerBanner .customerBanner-caption {
    flex-basis: 50%;
}

#customerBanner .customerBanner-image {
    padding: 10px;
}

#customerBanner .customerBanner-image img {
    border-radius: 17px;
    width: 100%;
}

#customerBanner .customerBanner-caption {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

#customerBanner .customerBanner-caption h1 {
    color: var(--primary01);
    font-family: 'Abril Fatface';
    text-transform: uppercase;
    font-size: 4vw;
    line-height: 1;
    letter-spacing: 5px;
    font-weight: 400;
}

#customerBanner .customerBanner-caption-buttons {
    display: flex;
    gap: 50px;
}

#customerBanner .customerBanner-caption-buttons a {
    color: var(--light00);
    font-family: 'Inter';
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
}

#customerBanner .customerBanner-caption-buttons a:hover {
    color: var(--primary01);
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #customerBanner {
        flex-direction: column;
    }

}