#customerBestsellers {
    width: 100%;
}

#customerBestsellers .customerBestsellers-container {
    padding: 5px;
    background-color: var(--bgc01);
}

#customerBestsellers .customerBestsellers-container .customerBestsellers-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    backdrop-filter: blur(6px);
    transition: all 0.5s;
}

#customerBestsellers .customerBestsellers-container .customerBestsellers-item img {
    min-width: 200px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#customerBestsellers .customerBestsellers-container .customerBestsellers-item .customerBestsellers-item-info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    padding-top: 40px;
    background: linear-gradient(0deg,rgba(20,20,20,.8) 0%,rgba(11,11,11,0) 100%);
}

#customerBestsellers .customerBestsellers-container .customerBestsellers-item .customerBestsellers-item-info h2 {
    color: var(--bgc00);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
    font-weight: 300;
}