#landingNavigation {
    flex: 1 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: .8;
    overflow: show;
    z-index: 0;
    
}

#landingNavigation .landingNavigation-center, #landingNavigation .landingNavigation-right, #landingNavigation .landingNavigation-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landingNavigation .landingNavigation-center {
    gap: 100px;
    z-index: 3;
}

#landingNavigation .landingNavigation-center button {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "Abril Fatface";
    font-size: 4vw;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

#landingNavigation .landingNavigation-center button::before {
    content: '';
    position: absolute;
    width: 47%;
    height: 1.55vh;
    border-radius: 10px 0 10px 0;
    background-color: #f05006;
    left: 53%;
    bottom: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#landingNavigation .landingNavigation-center button:hover {
    color: #f05006;
    transition: color .3s ease-in-out;
}

#landingNavigation .landingNavigation-center button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#landingNavigation .landingNavigation-center button h2 {
    font-size: 1vw;
    font-family: "Inter";
    text-transform: uppercase;
    color: #f05006;
}

#landingNavigation .landingNavigation-center button:hover h2 {
    color: #d5dbbd;
    transition: color .3s ease-in-out;
}

#landingNavigation .landingNavigation-center button h2 span {
    color: #d5dbbd;
}

#landingNavigation .landingNavigation-center button:hover h2 span {
    color: #f05006;
    transition: color .3s ease-in-out;
}

#orderNowSubtitle {
    display: flex;
    gap: 5px;
}

@media only screen and (max-width: 768px) {
    #landingNavigation {
        position: relative;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    #landingNavigation .landingNavigation-center, #landingNavigation .landingNavigation-right, #landingNavigation .landingNavigation-left {
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
    }
    #landingNavigation .landingNavigation-left {
        order: 2;
    }
    #landingNavigation .landingNavigation-center {
        order: 1;
        gap: 50px;
    }
    #landingNavigation .landingNavigation-right {
        order: 3;
    }
    #landingNavigation .landingNavigation-center button {
        position: relative;
        max-width: 100%;
        font-size: 8vw;
    }
    #landingNavigation .landingNavigation-center button h2 {
        font-size: 2vw;
    }
}

