.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.editButton {
  border: 2px solid;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.menuTable h1 {
  font-family: "Inter";
  color: #ff8500;
}

.big-rectangle-admin {
  width: 350px; 
  height: 250px; 
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  height: 100%; 
  background-color: #fefefe; 
  float: left; 
  border: 0.5px solid black; 
  box-sizing: border-box; 
  position: relative; 
  font-family: "Roboto", sans-serif;
}

.profile-picture {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  border: 3px solid black; 
  object-fit: cover;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the modal */
.modal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Styles for the modal close button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.modal-content {
  width: 800px;
  text-align: center;
  /* Add other styles as needed */
}

.item-list {
  padding-left: 15px; 
}

.back-button-profile {
  position: absolute;
  top: 10px; 
  left: 10px;
  z-index: 1;
}

/*

button {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background-color: #f05006; 
  color: white;
  cursor: pointer;
  outline: none;
}

*/