.landing section {

    min-height: 100vh;
    scroll-snap-align: start;
    color: white;
    
}

.homebg {

    position: absolute;
    width: 750px;
    align-self: center;
    
}

#home {

  padding-top: 100px;

}

.section-home {

    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 35%;
    margin-left: 15%;

}

.section-home h1 {

    margin-left: 100px;

    font-family: "Kare";
    font-size: 116px;
    font-weight: 900;
    text-align: right;
    text-transform: uppercase;
    line-height: 90%;
    color: #f05006;
    position: relative;

}

.section-home h2 {

    margin-bottom: -10px;
    font-family: "Petit Formal Script";
    font-size: 14px;
    color:#d5dbbd;
    text-transform: lowercase;

}

.cta {
    margin-top: 100px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta span {
    color: #d5dbbd;
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 16px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    stroke: #f05006;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #d5dbbd;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#menu {

  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 35%;

}

#menu h3 {

  color: #f05006;
  font-family: "Kare";
  font-size: 116px;
  font-weight: 900;
  opacity: 0;
  animation: transform .5s ease-in opacity 0.5s ease-in;
  animation: slide-out2 .5s backwards;

}

#menu h3.active {

  animation: slide-in2 .5s forwards;

}

#menu h3:not(.active) {

  
  animation-fill-mode: backwards;

}
.section-menu {

  display: flex;

}

@keyframes slide-in2 {
  70% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }

}

@keyframes slide-out2 {
  0% {
    opacity: 1;
  }
  
  70% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100);
    opacity: 0;
  }

}