#authForm {
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#authForm .chakra-input__right-element button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#authForm input {
    font-size: 14px;
}

#forgotPassRedirect {
    display: flex;
    justify-content: flex-end;
}

.authRedirect {
    color: #2d79f3;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.authRedirect:hover {
    text-decoration: underline;
}

.authButton {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.authSubmit {
    color: white;
    background-color: #151717;
}

.authSubmit:hover {
    background-color: #252727;
}

.authGoogleSignIn {
    font-size: 14px;
    border: 1px solid #ededef;
}

.authGoogleSignIn svg {
    width: 20px;
}

.authGoogleSignIn:hover {
    border: 1px solid #2d79f3;
}

.authResetLinkSent {
    color: white;
    background-color: #5cb85c;
    cursor: default;
}