.container {
  display: flex; /* Ensure containers are horizontally aligned */
  justify-content: space-between; /* Distribute space between containers */
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #f05006;
}

.containerLeft,
.containerRight {
  border: 1px solid #ddd; /* Add border to containers */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
  padding: 20px; /* Optional: Add padding for content */
  margin-right: 20px; /* Adjust the spacing between containers */
}

.containerLeft {
  flex: 2; /* Adjust the flex value to increase the width of the container */
}

.containerRight {
  flex: 1; /* Ensure both containers take up remaining space */
}

.back-button {
  cursor: pointer;
  margin-bottom: 10px;
}

.back-button svg {
  width: 24px;
  height: 24px;
  fill: #666;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}

.item-details {
  display: flex;
  align-items: center;
}

.item-details > div {
  margin-left: 20px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.item-quantity {
  font-size: 12px;
  color: black;
  margin-left: 20px;
  margin-right: 5px;
}

.item-price {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  margin-left: 50px;
}

.select-all-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: black;
  padding: 10px;
}

.select-all-checkbox {
  margin-right: 10px;
}

.select-all-label {
  font-size: 16px;
  color: #666;
}

.delete-selected-btn {
  background-color: #f05006;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.delete-selected-btn:hover {
  background-color: #e04006;
}

.total-price {
  padding: 20px;
  color: black;
}

.trash-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 600px;
}

.checkout-container {
  text-align: center;
  margin-top: 20px;
  margin-left: 500px;
  position: relative;
}

.checkout-btn {
  background-color: #f05006;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #e04006;
}

@media screen and (max-width: 768px) {
  .cart-container {
    max-width: 600px;
  }
}

@media screen and (max-width: 480px) {
  .cart-container {
    max-width: 400px;
  }
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart-item-checkbox {
    margin-right: 10px;
  }
  .cart-item-remove {
    margin-left: 10px;
  }
}

.gcash-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}
