.customer-menu {
  padding: 40px;
  background-color: rgba(33, 33, 33, 0.103);
  width: 100%;
  max-width: 1200px; 
  min-width: 800px;  
  height: auto;      
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.menu-title {
  font-size: 90px; 
  color: #f05006;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  margin-bottom: 20px;
  margin-left: 40px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.search-bar:focus {
  border-color: #e20041;
  box-shadow: 0 0 5px rgba(226, 0, 65, 0.5); 
  outline: none;
}

.menu-type-btn {
  background-color: #6f803d; 
  color: #D5DBBD;
  border: none;
  padding: 10px 20px; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  margin: 0 12px; 
}

.menu-type-btn:hover {
  background-color: #45a049; 
}

.menu-type-btn.active {
  background-color: #999; 
  color: #000; 
}


.customerMenu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:30px;
  margin: 50px;
  min-height: 600px;
}

.customerMenu .menu-item {
  width: 300px; 
  height: 450px; 
  border-radius: 10px;
  background-color: #2c2c2c;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.2s, box-shadow 0.2s;
}

.customerMenu .menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.customerMenu .menu-item-image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px;
}

.menu-item-image {
  width: 100%; 
  height: 250px; 
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.menu-item-description-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #d5dbbd;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
  border-radius: 0 0 8px 8px;
}

.menu-item-image-container:hover .menu-item-description-overlay {
  opacity: 1;
}
.menu-item-image-container:hover .menu-item-image {
  transform: scale(1.05);
}

.menu-item-details {
  display: flex;
  flex-direction: column;
  flex-grow: 0; 
  padding: 10px 20px;
  justify-content: space-between;
}

.menu-item-name {
  font-size: 22px;
  margin-bottom: 20px;
  color: #D5DBBD;
  font-weight: bold;
}

.menu-item-description {
  font-size: 16px;
  color: #D5DBBD;
  margin-bottom: 12px;
  flex-grow: 0; 
}

.menu-item-price {
  font-size: 18px;
  color: #f05006;
  font-weight: bold;
  margin-bottom: 20px;
}

.best-sellers-slider {
  overflow-x: scroll;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.best-sellers-slider-container {
  display: flex;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  padding: 1rem;
}

.best-seller-item {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background-color: #2c2c2c;
  color: #D5DBBD;
  transition: transform 0.3s ease-in-out;
}

.best-seller-item:hover {
  transform: scale(1.05);
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.best-seller-item-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.best-seller-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.best-seller-item-details {
  padding: 1rem;
}

.best-seller-item-description-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #d5dbbd;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
}

.best-seller-item-image-container:hover .best-seller-item-description-overlay {
  opacity: 1;
}

.best-seller-item-image-container:hover .best-seller-item-image {
  transform: scale(1.05);
}

.best-seller-item-name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.best-seller-item-price {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


.add-to-cart-btn {
  padding: 10px 20px;
  background-color: #ff5500;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: center;
  margin-top: auto;
  width: 150px;
}


.add-to-cart-btn:hover {
  background-color: #f05006;
}


.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 16px 29px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 8px;
}

.pagination-btn:hover {
  background-color: #45a049;
}


.pagination-btn.active {
  background-color: #999; 
  color: #000;
}

.pagination-btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

.modal {
  width: 100%; 
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: #000;
}
