.customer-menu {
  padding: 20px;

}

.menu-items {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 10px; 
  min-height: 600px; 
}

.menu-item {
  width: 300px;
  height: 450px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
  display: flex; 
  flex-direction: column;
}

.menu-title{
  padding:20;
  font-size: 50px;
  color: #f05006;
  margin-top: 50px;
  margin-bottom: 20px;
}

.menu-item-image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px; 
}

.menu-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-item-details {
  flex-grow: 1;
}

.menu-item-name {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.menu-item-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
}

.menu-item-price {
  font-size: 16px;
  color: #333;
}

.add-to-cart-btn {
  padding: 8px 16px; 
  background-color: green; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto; 
  margin-left: 145px;
}

@media screen and (max-width: 768px) {
  .menu-item {
    max-width: calc(50% - 20px); /* 2 items per row on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .menu-item {
    max-width: 100%; /* 1 item per row on mobile screens */
  }
}