/* DashboardAdmin.css */
.dashboardContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dashboardContent {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    width: 100%;
}

.dashboardContent-main {
    flex: 1; /* Allow the main content to grow */
    padding: 20px; /* Add some padding */
}

.dashboardCard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin to separate from other elements */
    padding: 20px; /* Inner padding */
}



