#home {

    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items:  end;

}

#home h1 {

    margin-bottom: -10px;

    font-family: "Petit Formal Script";
    font-size: 14px;
    text-transform: lowercase;
    color:#d5dbbd;

}

#home h2 {

    margin-left: 400px;

    font-family: "Kare";
    font-size: 116px;
    font-weight: 900;
    text-align: right;
    text-transform: uppercase;
    line-height: 90%;
    color: #f05006;

}

.order-now {
    margin-top: 100px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
.order-now span {
    color: #d5dbbd;
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 16px;
    padding-right: 15px;
    text-transform: uppercase;
}
  
.order-now svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    stroke: #f05006;
}
  
.order-now:hover svg {
    transform: translateX(0);
}
  
.order-now:active svg {
    transform: scale(0.9);
}
  
.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}
  
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #d5dbbd;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.order-now:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.signinmodal {

    position: absolute;
    z-index: 101;

}

.signinoverlay {

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    overflow-y: scroll;

}

/* Smartphones */
@media only screen and (max-width: 768px) {
    #home {
        padding-top: 150px;
        align-items: center;

    }
    #home h1 {

        margin-left: 50px;
        margin-right: 50px;

    }
    #home h2 {

        text-align: center;
        font-size: 80px;
        margin-left: 50px;
        margin-right: 50px;

    }
    
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #home h2 {

        font-size: 92px;
        margin-left: 50px;

    }

}