.landing {
    height: 100vh;
    width: 100vw;
    display: flex; 
    color: white;
    
}
.content {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    width: 100%;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.content section {
    display: flex;
    flex-direction: column; 
}

/* Smartphones */
@media only screen and (max-width: 1023px){
    .landing {
        height: auto;
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .one {
        height: 50vh;
    }
    .two {
        height: 50lvh;
    }
}