/* MenuTable.css */

.dataTable {
    width: 100%;
    margin-top: 10px;
    padding: 1em;
    font-family: "Roboto", sans-serif;
    color: #f2f2f2;
    border: 1px solid #29292c;
    border-radius: 15px;
  }
  
  .dataTable th {
    color: #d5dbbd;
    padding: 10px 0;
  }
  
  .dataTable thead tr {
    margin-bottom: 20px;
  }
  
  .dataTable td {
    text-align: center;
  }
  
  .dataTable td button {
    color: #d5dbbd;
    margin: 0px 10px;
  }
  
  #dataTableImage {
    padding: 5px;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .pagination button:hover {
    background-color: #45a049;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination .active {
    background-color: #45a049;
  }
  
  