.navbar1 {

  height: 100%;
  margin-left: 75px;
  display: flex;
  align-items: center;
  position: fixed;

  z-index: 100;

}

.navbar1 ul {

  display: flex;
  flex-direction: column;
  list-style-type: none;

}

.navbar1 ul li {

  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: margin-bottom 0.2s ease-out;

}

.navbar1 ul li.active {

  align-items: center;
  
}

.navbar1 ul li::after {

  content: '';
  width: 2px;
  height: 34px;
  left: -10px;
  position: absolute;
  
  background: white;
  
}

.navbar1 ul li.active::after {

  height: 57px;
  width: 4px;

  background-color: red;
  transition: height 0.2s ease;

}

.navbar1 ul li:nth-child(3)::after {  /* targets the about section */
  transition: height 0.2s ease-in;
}

.navbar1 ul li a {

  font-size: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;

  transition: font-size 0.2s ease;

}

.navbar1 li.active a {

  font-size: 34px;
  font-weight: 700;

}