.navbar1 {

  height: 100%;
  right: 20%;
  display: flex;
  align-items: center;
  position: fixed;
  color: #eff3f2;

  z-index: 100;

}

.navbar1 ul {

  display: flex;
  flex-direction: column;
  list-style-type: none;

}

.navbar1 ul li {

  display: flex;
  align-items: center;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 1;

}

.navbar1 ul li.active {

  pointer-events: none;
  animation: slide-out .5s forwards;

}

.navbar1 ul li:not(.active) {
  animation: slide-in 0.5s ease-in-out forwards;
  animation-fill-mode: forwards;
}

.navbar1 ul li a {

  font-family: "Abril Fatface";
  font-size: 38px;
  color: #d5dbbd;
  text-decoration: none;
  text-transform: lowercase;

}

.navbar1 li.active a {

  color: #f05006;

}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(+25%);
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 0;
    /* display: none; */ 
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: translateX(+10%);
  }
  95% {

  }
  100% {
    transform: translateX(0);
  }
}
