.profileContainer{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 20px;
    width: 500px;
    height: 800px;
}

.avatar{
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
}

.editButton{
    border: 2px solid;
}

/* Modal */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dataTable {
    width: 100%;
    margin-top: 10px;
    padding: 1em;
    font-family: "Roboto";
    color: #000000;
    border: 1px solid #29292c;
    border-radius: 15px;
}

.dataTable th {
    color: #000000;
    padding: 10px 0 10px 0;
}

.dataTable thead tr {
    margin-bottom: 20px;
}

.dataTable td {
    text-align: center;
}

.dataTable td button {
    color: #000000;
    margin: 0px 10px 0px 10px;
}

.menuTable {
    margin-top: 20px;
    font-size: 1em;
}

.menuTable h1 {
    font-family: "Inter";
    color: rgb(0, 0, 0);
}