.profileContainer {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 20px;
  width: 500px;
  height: 1200px;
  font-family: "Roboto", sans-serif;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.editButton {
  border: 2px solid;
}
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.big-rectangle {
  width: 800px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  background-color: white;
  position: relative;
}

.square {
  height: 100%; /* Each square takes the full height of the big rectangle */
  background-color: #fefefe; /* Adjust the color as needed */
  float: left; /* Float squares left to align them side by side */
  border: 0.5px solid black; /* Add a border with 2px width and black color */
  box-sizing: border-box; /* Include border width in the total width */
  position: relative; /* Required for positioning child elements */
}

.left-square {
  width: 30%; /* Left square takes 30% of the big rectangle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 80px; /* Adjust the size of the profile picture */
  height: 80px; /* Adjust the size of the profile picture */
  border-radius: 50%; /* Make the image round */
  border: 3px solid black; /* Add a border with 3px width and black color */
  object-fit: cover; /* Ensure the image covers the entire space */
}

.right-square {
  width: 70%; /* Right square takes 70% of the big rectangle */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative; /* Needed for positioning the inner square */
}

.inner-square {
  width: 70%; /* Adjust the size of the inner square */
  height: 70%; /* Adjust the size of the inner square */
  background-color: #ffffff; /* Adjust the color of the inner square */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box; /* Ensure border width is included in the total width */
  max-height: 200px; /* Set a fixed height for the inner square */
  overflow-y: auto; /* Enable vertical scrolling */
}

button {
  padding: 8px 16px; /* Adjust button padding */
  border-radius: 20px; /* Make the button rounder */
  border: none;
  background-color: #f05006; /* Adjust button color */
  color: white;
  cursor: pointer;
  outline: none;
}

.inner-square table {
  border-collapse: collapse; /* Ensure borders collapse properly */
  width: 100%; /* Adjust the width as needed */
}

.inner-square th,
.inner-square td {
  border: 1px solid #000; /* Add border to table cells */
  padding: 8px; /* Add padding to table cells */
}

.inner-square th {
  background-color: #f2f2f2; /* Add background color to table header */
}

.back-button-profile {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  z-index: 1; /* Ensure it's above other content */
}


/* Styles for the modal */
.user-order-details-modal {
  position: fixed;
  z-index: 1000; /* Ensure the modal is on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b2b2b;
  background-color: rgba(0, 0, 0, 0.6); /* Darker semi-transparent background */
  animation: fadeIn 0.3s ease-in-out; /* Fade-in effect */
  font-family: "Roboto", sans-serif;
}

.user-order-details-modal .modal-content {
  background-color: #ffffff; /* Dark gray background */
  width: 80%;
  max-width: 950px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1); 
}

.user-order-details-modal h1 {
  margin: 0;
  font-size: 24px;
  color: #ff8500;
}

.user-order-details-modal .close {
  cursor: pointer;
  font-size: 24px;
  color: #ff8500;
  transition: color 0.3s ease;
}
.user-order-details-modal .close:hover {
  color: #ffa733; 
}

.user-order-details-modal .user-list {
  margin-top: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 600px; /* Set a maximum height */
}

.user-order-details-modal table {
  width: 100%;
  border-collapse: collapse;
}

.user-order-details-modal th,
.user-order-details-modal td {
  border: 1px solid #555555;
  padding: 10px;
  text-align: left;
}

.user-order-details-modal th {
  background-color: #ff8500;
  color: white;
  font-weight: bold;
  text-align: center;
}

.order-details-modal .status {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #f0f0f0;
}

.order-details-modal .total {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
  color: #f0f0f0;
}

.user-order-details-modal .status {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #2b2b2b;
}

.user-order-details-modal .total {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
  color: #2b2b2b;
}

