.customer-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #d5dbbd;
}

.customer-profile .modal-content {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  color: #d5dbbd;
  width: 800px;
  position: relative;
}

.customer-profile .back-icon {
  color: #ff5500;
  position: relative;
  right: 80px;
  cursor: pointer;
}

.customer-profile .profile-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  width: 100%;
  height: auto;
}

.customer-profile .left-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  height: 500px;
}

.customer-profile .left-grid img.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ff5500;
  margin-bottom: 15px;
}

.customer-profile .left-grid h3,
.customer-profile .left-grid h4 {
  text-align: center;
}

.customer-profile .right-grid {
  background-color: #2a2a2a;
  padding: 20px ;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 500px;
}

.customer-profile .right-grid .customer-table-history {
  background-color: #2a2a2a;
  border-radius: 8px;
  overflow-y: scroll;
  width: 500px;
  margin: 20px 0;
}

.customer-profile .customer-table-history table {
  width: 100%;
  border-collapse: collapse;
}

.customer-profile .customer-table-history th,
.customer-profile .customer-table-history td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #444;

}

.customer-profile .customer-table-history th {
  background-color: #ff5500;
  color: #e0e0e0;
  position: sticky;
}

.customer-profile .customer-table-history tbody {
  color:  #e0e0e0;
}

.customer-profile .customer-table-history tr:nth-child(even) {
  background-color: #3a3a3a; 
}
.customer-profile .customer-table-history tr:hover {
  background-color: #444444; 
}

.customer-profile .remaining-balance-container {
  display: flex;
  justify-content: center; 
}

.customer-profile .remaining-balance-button {
  background-color: #ff5500;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.customer-profile .remaining-balance-button:hover {
  background-color: #e44d00;
}


.customer-profile button {
  background-color: #ff5500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 60px 20px;
  margin: 15px 0;
}

.customer-profile button:hover {
  background-color: #e44d00;
}

.customer-profile .user-order-details-modal,
.customer-profile .check-remaining-balance-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d5dbbd;
  background-color: rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1000;
}

.customer-profile .user-order-details-modal .modal-content {
  background-color: #2a2a2a;
  width: 80%;
  max-width: 950px;
  padding: 20px;
  border-radius: 12px;
  border-collapse: collapse;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.customer-profile .user-order-details-modal table {
  width: 100%;
  border-collapse: collapse;
}

.customer-profile .user-order-details-modal th,
.customer-profile .user-order-details-modal td {
  padding: 12px;
  border-bottom: 1px solid #444;
  text-align: left;
}

.customer-profile .user-order-details-modal th {
  background-color: #333333;
  color: #ff8500;
  font-weight: bold;
  position: sticky;
  top: 0;
}

.customer-profile .user-order-details-modal tbody {
  color: #e0e0e0;
}

.customer-profile .user-order-details-modal .total {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
  color: #e0e0e0;
}

.customer-profile .user-order-details-modal tr:nth-child(even) {
  background-color: #3a3a3a; 
}
.customer-profile .user-order-details-modal tr:hover {
  background-color: #444444; 
}

.check-remaining-balance-table {
  width: 100%;
  border-collapse: collapse;
}

.check-remaining-balance-table th,
.check-remaining-balance-table td {
  padding: 12px;
  border-bottom: 1px solid #444;
  text-align: center;
}

.check-remaining-balance-table th {
  background-color: #333333;
  color: #ff8500;
  font-weight: bold;
}

.close {
  cursor: pointer;
  font-size: 28px;
  color: #ff5500;
  float: right;
  transition: color 0.3s ease;
}

