#customerViewOrders {
    display: flex;
    flex-direction: column;
}

#customerViewOrders .customerViewOrders-header {
    display: flex;
    justify-content: space-between;
}

#customerViewOrders .customerViewOrders-header h1 {
    font-family: 'Abril Fatface';
    font-size: 2.5rem;
}

#customerViewOrdersTab .chakra-tabs__tablist {
    display: flex;
    justify-content: space-between;
}

#customerViewOrdersTab .chakra-tabs__tab {
    padding: 5px 15px 5px 15px;
    font-size: 1rem;
    color: #d5dbbd;
    font-weight: 500;
    text-transform: uppercase;
}

#customerViewOrdersTab .chakra-tabs__tab[aria-selected=true] {
    color: #252525;
    background-color: #d5dbbd;
    border-radius: 12px;
}

#customerViewOrdersTab .chakra-tabs__tab-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customerOrderListItem {
    border: 1px solid #d5dbbd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

.customerOrderListItem-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    #customerViewOrdersTab .chakra-tabs__tab {
        font-size: .5rem;
    }
}