#customerSideContent {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: 15px;
}

#customerSideContent .customerSideContent-section {
    height: 50%;
    display: flex;
    flex-direction: column;
}

#customerSideContent .customerSideContent-header h1 {
    color: #f05006;
    font-size: 1.5rem;
    font-family: 'Abril Fatface';
}

#customerSideContent .customerSideContent-container {
    padding: 5px;
    height: 100%;

}