#createEmployee {
    width: 400px;
}

#createDish {
    width: 500px;
}

.adminForm-body {
    padding: 0 30px 30px 30px;
    flex-direction: column;
    gap: 10px;
}


.adminForm-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.adminForm-section label {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.adminForm-section select {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    padding: 10px;
}

.adminForm-section select:focus {
    border: 1.5px solid #2d79f3;
    outline: none;
}

.adminForm-section textarea {
    padding: 10px;
    min-height: 50px;
    min-width: 100%;
    max-width: 100%;
    border: 1.5px solid #ecedec;
    border-radius: 10px;
}

.adminForm-section textarea:focus {
    border: 1.5px solid #2d79f3;
    outline: none;
}

.adminForm-input {
    padding-left: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.1s ease-in;
}

.adminForm-input:focus-within {
    border: 1.5px solid #2d79f3;
}

.adminForm-input svg {
    width: 20px;
    height: 20px;
}

.adminForm-input input {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: none;
}

.adminForm-input input:focus {
    outline: none;
}

.adminForm-input .passwordVisibility {
    padding: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.adminForm-input .passwordVisibility:hover {
    background-color: #ecedec;
}

.adminForm-submit {
    margin: 20px 0 10px 0;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: #151717;
}

.adminForm-submit.emailSent {
    background-color: #5cb85c;
    pointer-events: none;
}

.adminForm-submit:hover {
    cursor: pointer;
    background-color: #252727;
}

.adminForm-section input[type="file"] {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px dashed #ecedec;
}