* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {

  scroll-behavior: smooth;
  scroll-snap-type: y proximity;

}

body {

  background-color: #252525;
  width: 100%;
  height: 100%;
  overflow: scroll;

}


/* Fonts */
@font-face {
  font-family: 'Kare';
  src: url('../public/fonts/Kare.ttf') format('truetype');
}

@font-face {
  font-family: 'Kare-Shadow';
  src: url('../public/fonts/Kare-Shadow.ttf') format('truetype');
}

@font-face {
  font-family: 'Kare-Gradient';
  src: url('../public/fonts/Kare-Gradient.ttf') format('truetype');
}

@font-face {
  font-family: 'Kare-Light';
  src: url('../public/fonts/Kare-Light.ttf') format('truetype');
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #252525; 
}
 
::-webkit-scrollbar-thumb {
  background: #d5dbbd;; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {background-color: transparent;}
