* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  overflow-x: hidden;
}

body {
  background-color: #fbf0df;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;                                                                                                                                                                                                                                                                                                                                
  background-image: url("./assets/noise.png");
  opacity: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

body.modal-open {
  overflow-y: hidden; /* Disable vertical scrolling */
  padding-right: 6px; /* Adjust for scrollbar width */
}

button {
  background-color: transparent;
  border: none;
}

/* Fonts */
@font-face {
  font-family: 'Kare';
  src: url('../public/fonts/Kare.ttf') format('truetype');
}

@font-face {
  font-family: 'Kare-Shadow';
  src: url('../public/fonts/Kare-Shadow.ttf') format('truetype');
}

@font-face {
  font-family: 'Kare-Gradient';
  src: url('../public/fonts/Kare-Gradient.ttf') format('truetype');
}

@font-face {
  font-family: 'Kare-Light';
  src: url('../public/fonts/Kare-Light.ttf') format('truetype');
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: transparent; /* Customize track color */
}
