.admin-profile {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: #dbdbbd;
  font-family: "Roboto", sans-serif;
}

.admin-profile .modal-content {
  position: relative;
  background-color: #2a2a2a;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4 20px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.3s ease-in-out;
  text-align: center;
}

.admin-profile .profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #f05006;
  object-fit: cover;
  margin-bottom: 20px;
}

.admin-profile h3 {
  font-size: 1.8em;
  margin: 0;
}

.admin-profile h4 {
  font-size: 1.2em;
  color: #bfbfbf;
  margin-bottom: 20px;
}

.admin-profile button {
  padding: 10px 20px;
  border: 20px;
  border: none;
  background-color: #f05006;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-profile .button:hover {
  background-color: #d94500;
}

.admin-profile .back-button-profile a {
  position: absolute;
  top: 10px; 
  left: 10px;
  z-index: 1;
}

.admin-edit-profile {
  position: fixed; /* Keep the modal in a fixed position */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Darken the background */
  z-index: 999; /* Ensure it's on top of other elements */
}

.admin-edit-profile .modal-content {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #d5dbbd;
  width: 80%;
  max-width: 500px; /* Define a maximum width */
  position: relative;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-in-out;
}

.admin-edit-profile form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Add spacing between form elements */
}


.admin-edit-profile [type="text"],
.admin-edit-profile select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background-color: #2c2c2c;
  color: #d5dbbd;
}
.admin-edit-profile [type="file"] {
  padding: 10px;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: #d5dbbd;
}

.admin-edit-profile [type="submit"] {
  background-color: #f05006;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-edit-profile [type="submit"]:hover {
  background-color: #d94500;
}

.admin-edit-profile .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #ff5500;
  cursor: pointer;
}

.admin-edit-profile .close:hover {
  color: #f05006;
}

.crop-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop-image {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}