/* AdminSales.css */

.admin-sales-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); 
    font-family: "Roboto", sans-serif;
    color: #334d66;
}

.admin-sales-modal .modal-content {
    background-color: #fbf0df;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px; 
    min-width: 900px;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #334d66;
    font-size: 16px;
    position: relative; /* Ensure that the close button stays inside the modal content */
    overflow: hidden;
}

.admin-sales-modal .modal-content .btn-close {
    color: #334d66;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; 
    top: 20px; 
    right: 20px; 
    padding: 0;
    line-height: 1;
    z-index: 10; 
}

.mr-2 {
    font-size: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.form-control {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #fff8ec;
    color: #334d66;
}
.admin-sales-modal .modal-content .btn-close:hover,
.admin-sales-modal .modal-content .btn-close:focus {
    color: #5383af;
    text-decoration: none;
}

.admin-sales-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
}

.admin-sales-modal .modal-body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center align the charts */
    max-height: 65vh; /* Set a max height for the body to enable scrolling */
    overflow-y: auto; /* Enable vertical scrolling in the modal body */
}

.admin-sales-modal .modal-body h5 {
    margin: 20px 0 0 0;
    font-size: 16px;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 300px; 
    margin-bottom: 20px;
    
}