/* AdminSales.css */

.admin-sales-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    font-family: "Roboto", sans-serif;
}

.admin-sales-modal .modal-content {
    background-color: #fbf0df;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px; 
    min-width: 900px;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #334d66;
    font-size: 16px;
    position: relative; /* Ensure that the close button stays inside the modal content */
    overflow: hidden;
}

.admin-sales-modal .modal-content .btn-close {
    color: #ff8500;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; 
    top: 10px; 
    right: 10px; 
    padding: 0;
    line-height: 1;
    z-index: 10; /* Ensure the button appears on top of other content */
}

.admin-sales-modal .modal-content .btn-close:hover,
.admin-sales-modal .modal-content .btn-close:focus {
    color: #ff7a33;
    text-decoration: none;
}

.admin-sales-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.admin-sales-modal .modal-header h1 {
    margin: 0;
    font-size: 24px;
    color: #ff8500;
}

.admin-sales-modal .modal-body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center align the charts */
    max-height: 65vh; /* Set a max height for the body to enable scrolling */
    overflow-y: auto; /* Enable vertical scrolling in the modal body */
}

.admin-sales-modal .modal-body h5 {
    margin: 20px 0 10px; /* Add spacing around chart headings */
}

.admin-sales-modal .modal-footer {
    display: flex;
    justify-content: flex-end;
}

.admin-sales-modal .button-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 20px; 
}


/* Ensure the chart is responsive */
.chart-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjusted height for the chart to fit better */
    margin-bottom: 30px; /* Add margin to create space between charts */
}