/* BalanceTable.css */
.balanceTableContainer {
    padding: 20px;
    background-color: #fbf0df;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    width: 850px;
    font-family: "Roboto", sans-serif;
}

.balanceTableContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #334d66;
}

.tableWrapper {
    max-height: 250px; 
    overflow-y: auto; 
    border: 1px solid #444; 
    border-radius: 8px; 
}

.balanceTable {
    width: 800px;
    border-collapse: collapse;
    background-color: #fbf0df;
}

.balanceTable thead {
    background-color: #334d66;
    color: #fff8ec;
}

.balanceTable th,
.balanceTable td {
    padding: 8px 10px;
    text-align: center;
    border-bottom: 1px solid #444;
    color: #fff8ec;
}

.balanceTable tbody tr:nth-child(even) {
    background-color: #fff8ec;
}

.balanceTable tbody tr:hover {
    background-color: #fff8ec;
}

.balanceTable th {
    font-weight: bold;
}

.balanceTable td {
    color: #334d66;
}


.balanceTableContainer select {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #334d66;
    color: #e0e0e0;
}


.error {
    color: red;
    margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .balanceTableContainer {
        padding: 10px;
    }

    .balanceTable th,
    .balanceTable td {
        padding: 6px; /* Adjust for smaller screens */
    }
}
