/* CreateDish.css */

.create-dish-modal {
    z-index: 1000;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Roboto", sans-serif;
}

.create-dish-modal .modal-content {
    background-color: #fbf0df;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    color: #334d66;
}

.create-dish-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #334d66;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.create-dish-modal .close:hover,
.create-dish-modal .close:focus {
    color: #5383af;
    text-decoration: none;
    cursor: pointer;
}

.create-dish-modal .modal-content h1 {
    font-size: 1.5em;
    color: #334d66;
    text-align: left;
    margin-bottom: 20px;
}

.create-dish-modal .form-group {
    margin-bottom: 20px;
}

.create-dish-modal .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #344d66;
    text-align: left;
}

.create-dish-modal .form-group input,
.create-dish-modal .form-group textarea,
.create-dish-modal .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #fff8ec;
    color: #334d66;
    font-family: 'Arial', sans-serif;
}

.create-dish-modal .form-group textarea {
    height: 100px;
    resize: vertical;
}

.create-dish-modal .add-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff8ec;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

.create-dish-moda .add-button:hover {
    background-color: #45a049;
}

/*

h1 {
    font-size: 1.5em;
    color: #ff8500;
    text-align: left;
    margin-bottom: 20px;
}

*/