/* ManageEvents.css */

.manage-events-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Roboto", sans-serif;
}

.manage-events-modal .modal-content {
    background-color: #fbf0df;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #334d66;
    font-size: 16px;
}

.manage-events-modal .close {

    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #334d66;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.manage-events-modal .close:hover,
.manage-events-modal .close:focus {
    color: #5383af;
    text-decoration: none;
    cursor: pointer;
}


.manage-events-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.manage-events-modal .modal-header h1 {
    margin: 0;
    font-size: 24px;
    color: #334d66;
}

.manage-events-modal .event-list {
    margin: 20px 0;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 600px; /* Set a maximum height */
}

.event-list table {
    width: 100%;
    border-collapse: collapse;
}

.event-list td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.event-list th {
    background-color: #fff8ec;
    color: #334d66;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #555;
}
.event-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
}
.status-dropdown {
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.manage-events-modal .button-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 20px; 
}

.delete-event-button,
.create-event-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #fff8ec;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-event-button:hover,
.create-event-button:hover {
    opacity: 0.8;
}

.delete-event-button {
    background-color: #f44336; /* Red */
}

.create-event-button {
    background-color: #4CAF50; /* Blue */
    width: 100%;
}
.edit-event-button {
    background-color: #ff8500; /* Orange */
    border: none;
    color: #fff8ec;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.edit-event-button:hover {
    opacity: 0.8;
}
