.menuTable {
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
}

.menuTable .category-headers {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  padding: 0; 
  margin: 20px 0; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.menuTable h1 {
  color: #e0e0e0;
}

.menuTable .category-btn {
  flex-grow: 1; 
  padding: 10px; 
  background-color: #2a2a2a; 
  color: #fff;
  border: none; 
  font-size: 16px;
  border-radius: 0; 
  cursor: pointer;
  text-align: center; 
  transition: background-color 0.3s ease; 
}

.menuTable .category-btn + .category-btn {
  border-left: 1px solid white; 
}

.menuTable .category-btn:hover {
  background-color: #0056b3; 
}


.dataTable {
  background-color: #2b2b2b;
  width: 1200px;
  margin: 20px 0;
  padding: 1em;
  font-family: "Roboto", sans-serif;
  color: #f0f0f0;
  border: 1px solid #444; 
  border-radius: 15px;
  overflow: hidden; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.dataTable th,
.dataTable td {
  padding: 15px;
  text-align: center;

}

.dataTable th {
  background-color: #3a3a3a; 
  color: #fff; 
}

.dataTable td {
  border-bottom: 1px solid #555; 
}

.dataTable tbody tr:hover {
  background-color: #444; 
}

#dataTableImage {
  padding: 5px;
}

#dataTableImage img {
  width: 101px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image maintains aspect ratio by cropping if necessary */
  border-radius: 8px; /* Optional: Adds slight rounding to the corners */
}


.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #4caf50; /* Green pagination button background */
  color: white; /* White pagination button text color */
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 5px;
}

.pagination button:hover {
  background-color: #45a049; /* Darker shade of green on hover */
}

.pagination button:disabled {
  background-color: #ccc; /* Light gray pagination button when disabled */
  cursor: not-allowed;
}

.pagination .active {
  background-color: #45a049; /* Active page button color */
}

.action-buttons button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.action-buttons .editBtn {
  background-color: #2196f3; /* Blue for edit */
  color: white;
}

.action-buttons .editBtn:hover {
  background-color: #1976d2; /* Darker blue on hover */
}

.action-buttons .deleteBtn {
  background-color: #f44336; /* Red for delete */
  color: white;
}

.action-buttons .deleteBtn:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

.action-buttons .confirmBtn {
  background-color: #4caf50; /* Green for confirm */
  color: white;
}

.action-buttons .confirmBtn:hover {
  background-color: #388e3c; /* Darker green on hover */
}

.action-buttons .cancelBtn {
  background-color: #ff9800; /* Orange for cancel */
  color: white;
}

.action-buttons .cancelBtn:hover {
  background-color: #f57c00; /* Darker orange on hover */
}