.staff-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 950px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999; /* Ensure the modal is on top */
}

.staff-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.staff-modal .modal-header h1 {
    margin: 0;
}

.staff-modal .close {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

.staff-modal .user-list {
    margin-top: 20px;
}

.staff-modal table {
    width: 100%;
    border-collapse: collapse;
}

.staff-modal th,
.staff-modal td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.staff-modal th {
    background-color: #f2f2f2;
}

.staff-modal .button-container {
    margin-top: 20px;
    text-align: right;
}

.staff-modal .add-employee-button {
    background-color: #4CAF50; /* Green */
}

.staff-modal .add-employee-button:hover {
    background-color: #7cb17d; /* Green */
}