.dashboardContainer {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dashboardCustomer {

    display: flex;
    height: 100%;
}

.dashboardCustomer-left, .dashboardCustomer-right, .dashboardCustomer-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardCustomer-center  {

}

.dashboardCustomer-left {
    flex: 25%;
    
}

.dashboardCustomer-center {
    flex: 50%;
}

.dashboardCustomer-right {
    flex: 25%;
}

@media only screen and (max-width: 768px) {
    .dashboardContainer {
        overflow-y: scroll;
    }

    .dashboardCustomer {
        flex-direction: column;
    }

    .dashboardCustomer-left {
        order: 2;
        
    }
    
    .dashboardCustomer-center {
        order: 1
    }
    
    .dashboardCustomer-right {
        order: 3
    }
}